<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VRKitExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F597FA41D8CA81C00420E0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F597FB81D8CA81C00420E0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F597FC31D8CA81C00420E0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
